.About-section {
  margin: 100px 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 2;
  gap: 20px;
  max-width: 1195px;
  margin: 0 auto; /* Center the grid horizontally */
  background: #eef6f7cc;
  padding: 80px;
  border-radius: 10px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .item {
    grid-template-columns: 1fr;
    max-width: 100%;
    justify-items: center;
  }
  .item:nth-child(2) .textDiv {
    order: 1;
  }
}

.item:nth-child(1) {
  padding-top: 60px;
}

.item:nth-child(3) {
  padding-bottom: 60px;
}

.imgDiv {
  position: relative;
  max-width: 450px;
  min-height: 385px;
  overflow: hidden;
  border-radius: 10px;
}

.imgDiv img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  padding-top: 30px;
  color: #0a0a00;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-family: var(--product_sans);
  margin-bottom: var(--margin_xl);
}
p {
  color: #34342b;
  font-size: 16px;
  font-family: var(--product_sans);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 130px 20px;
}

.responsive-div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(528 / 1195 * 100%); /* Maintain the aspect ratio */
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 12px;
}

.responsive-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
